<!-- this page is used for registration purpose by user(creating Account) -->
<section class="vh-100 bg-image"
  style="background-image: url('https://spng.pngfind.com/pngs/s/27-270807_online-bus-ticket-booking-book-volvo-ac-bus.png');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form  action="/action_page.php">
               
                <div class="form-outline mb-4" style="color: #12b960;">
                
                  <span>Your Name</span><br>
                      <input type="text" placeholder="Enter Your Name" id="name" name = "name" class="form-control form-control-lg"  [(ngModel)] = "name" required  minlength="5"
                      maxlength="15" />
                    
                </div>

                <div class="form-outline mb-4" style="color: #12b960;">
                
                  <span>Your Email</span><br>
                      <input type="email" placeholder="Enter Your Email" name = "email" id="email" class="form-control form-control-lg" [(ngModel)] = "email" required/>
                </div>

                <div class="form-outline mb-4" style="color: #12b960;">
                 
                  <span>Password</span><br>
                      <input type="password" placeholder="Enter Your Password" name = "password" id="password" class="form-control form-control-lg" [(ngModel)] = "password" required/>
                </div>

                <div class="form-outline mb-4" style="color: #12b960;">
               
                  <span>Phone Number</span><br>
                  <input type="text" placeholder="Enter Phone Number" name = "phoneNumber" id="phoneNumber" class="form-control form-control-lg" [(ngModel)] = "phoneNumber" required/>
                </div>

                <div class="form-check d-flex justify-content-left mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Eg3cg" /><br/>
                  <label class="form-check-label" for="form2Eg3cg" >
                    I agree all statements in <a href="#!" class="text-body"><u style="color: #182397;">Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" (click)="checkLogin()" (click)="requiredValue()" 
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0" style="color: #182397;">Have already an account? <a href="app-login-form"
                    class="fw-bold text-body"><u style="color: #182397;">Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>