<!--Here we are creating Aboutus Form-->

<h2>About us !!!</h2>
<p>
    <img src="https://logodix.com/logo/1809423.png" sizes="32x32" >
</p>
 <p>   GO Bus is India’s largest online bus ticketing platform that has transformed bus travel in the country by bringing ease and convenience to millions of Indians who travel using buses. 
    Founded in 2006, GO Bus is part of India’s leading online travel company MakeMyTrip Limited (NASDAQ: MMYT). 
</p>
<p>   By providing widest choice, superior customer service, lowest prices and unmatched benefits, GO Bus has served over 18 million customers.
    GO Bus has a global presence with operations across Indonesia, Singapore, Malaysia, Colombia and Peru apart from India.
</p>

<button class="cta" ><a  href="app-homepage"> Back To HomePage</a></button> <br>