<h3> View Bus Details</h3>

<!---Display all the details of the bus using  a particular id.-->
<div>
    <div>
        <label> <b> Starting Point: </b></label> {{busDetails.startingPoint}}
    </div>
    <div>
        <label> <b> Driver Name: </b></label> {{busDetails.driverName}}
    </div>
    <div>
        <label> <b> Ending Point: </b></label> {{busDetails.endingPoint}}
    </div>
    <div>
        <label> <b> Driver Number: </b></label> {{busDetails.driverNumber}}
    </div>
    <div>
        <label> <b> Bus Number: </b></label> {{busDetails.busNumber}}
    </div>
    <div>
        <label> <b> Bus Type: </b></label> {{busDetails.busType}}
    </div>
    <div>
        <button class = "btn btn-success" type="submit"  ><a href="busDetails"> Back</a> </button>
    </div>
</div>
