<!-- this page is used for konwing us more-->
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<section></section>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
           <!--- <img class="img-fluid" src="https://images.pexels.com/photos/4065187/pexels-photo-4065187.jpeg?auto=compress&cs=tinysrgb&w=600">--->
           <img class="img-fluid" src="\assets\img\WhatsApp Image 2023-04-24 at 11.27.42 PM.jpeg">
          </div>
          <div class="team-content">
            <h3 class="name" style="color: #c32be1;">ARO SHEEBA</h3>
            <h4 class="title" style="color: #e1582b;">CEO & Founder of GO BUS</h4>
            <div class="buttons">
            <button class="primary" ><a href="app-homepage">More Details</a></button>
          </div>
          <ul class="social">
            <li><a href="https://www.facebook.com/arosheeba.arosheeba?mibextid=ZbWKwL" class="fa fa-facebook-square" aria-hidden="true"></a></li>
            <li><a href="https://instagram.com/sheeba_aro?igshid=ZDdkNTZiNTM=" class="fa fa-instagram" aria-hidden="true"></a></li>
            <li><a href="https://github.com/Arosheeba" class="fa fa-github" aria-hidden="true"></a></li>
            <li><a href="https://www.linkedin.com/in/aro-sheeba-185580218" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
